<div class="show-page">
	<div class="margin-top-10P">
	  <div class="w3-row">
	    <!-- Left Column -->
	    <div class="w3-col m3">
	      <!-- Profile -->
	      <div class="w3-card-2 w3-round w3-white">
	        <div class="w3-container">
	         <h4 class="w3-center">Welcome back, <%= @user.first_name + ' ' + @user.last_name %>!</h4>
	        
	           <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> <%=current_user.first_name%> <%=current_user.last_name%></p>
	           <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> <%=current_user.location%></p>
	           <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i> <%=current_user.phone%></p>
	         <hr>

	        </div>
	      </div>
	     </div>
	    </div>
	      <br>

	</div>
	<div>	
	  <h3>These people in your network are looking for contacts:</h3>

	  <% @unrecommended.each do |contact| %>
	  	<h4><%= contact.first_name %> <%= contact.last_name %> is looking for contacts in <%= contact.location %>
	  		<%= link_to("Recommend A Friend", user_recommendations_path(current_user, :contact_id => contact.id), :method => :get) %>
	  	</h4>
	  <% end %>
	</div>

	<div>
		<h3>Your Recommendations:</h3>
		<ul>

			<% @unfriended.each do |rec| %>
				<h4><%=rec.first_name%> <%=rec.last_name%>
				<%= link_to("Add Contact", user_contacts_path(current_user, :friend_id => rec.id), :method => :post) %></li>
	   		  <% end %>

		</ul>
	</div>
</div>