<div class="show-page">
	<div class="margin-top-10P">
	  <div class="w3-row">
	    <!-- Left Column -->
	    <div class="w3-col m3">
	      <!-- Profile -->
	      <div class="w3-card-2 w3-round w3-white">
	        <div class="w3-container">
	         <h4 class="w3-center">My Profile</h4>
	        
	         <hr>
	         <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i> <%=current_user.first_name%> <%=current_user.last_name%></p>
	         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> <%=current_user.location%></p>
	         <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i> <%=current_user.phone%></p>
	        </div>
	      </div>
	     </div>
	    </div>
	      <br>

	  <h1>Welcome back, <%= @user.first_name + ' ' + @user.last_name %>!</h1>
	</div>
	
</div>