<!DOCTYPE html>

<html>
  <head>
    <title>Recommend A Friend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
 <body style="background-color:#cee1ed">
 <div id="content">
  <div class="jumbotron" style="color: white; background-image: url('https://talkroute.com/wp-content/uploads/2016/04/network.png'); background-repeat: no-repeat; background-size: 100% 100%">
    <center>
      <h1>Recommend A Friend</h1> 
        <p>Help your friends reach out to new contacts in your network.</p> 
    </center>
  </div>

  
  <div class= "navbar">
    <center>
      <% if current_user %>
        <a href="/logout">Logout</a>
        <a href="/"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
        <%= link_to "<i class='fa fa-user-plus' aria-hidden='true'></i>".html_safe, user_contacts_path(current_user) %>
        <%= link_to "<i class='fa fa-address-book' aria-hidden='true'></i>".html_safe, user_friends_path(current_user) %>
      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
      <% end %>
    </center>
  </div>
  



   

      <div class="container nav bar-wrapper" style="margin-top: 40px">

        <div class="row-fluid">

          <div class="rows col-lg-12 col-md-10 ">
          <center>
          
            <%= yield %>
          </center>
          </div>
        </div>

      </div>
      </div>
    </body>

  
</html>
